<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head')  %> 
   
</head>
<body>
    <%- include('../partials/nav')  %> 
    <div class="blogs content">
        <h2>Blog collections</h2>

          <% if (data.length > 0) { %>
            <% data.forEach(blog => { %>
              <a class="single" href="/blogs/<%= blog._id %>">
                  <h3 class="title"><%= blog.title %></h3>
                  <p class="snippet"><%= blog.snippet %></p>
                  <code>by @ <%= blog.author %> </code>
              </a>
            <% }) %>
          <% } else { %>
            <p>There are no blogs to display...</p>
          <% } %>

      </div>
    <%- include('../partials/footer')  %> 

</body>
</html>