<% 
    console.log(blog.thumbnail)
%>

<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head')  %> 
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link href="/blog.css" rel="stylesheet">
    <style>
        .custom-shape-divider-bottom-1684680749 {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          overflow: hidden;
          line-height: 0;
        }
      
        .custom-shape-divider-bottom-1684680749 svg {
          position: relative;
          display: block;
          width: calc(100% + 1.3px);
          height: 50px;
        }
      
        .custom-shape-divider-bottom-1684680749 .shape-fill {
          fill: #FFFFFF;
        }
      </style>
</head>
<body>
    <%- include('../partials/nav')  %> 

    <header class="blog-header">
        <div class="container text-center">
            <div class="mb-3">
                <% if(blog.featured) { %>
                    <span class="badge bg-warning text-dark me-2 text-capitalize"><i class="bi bi-bookmark-star"></i> Featured</span>
                <% } %>
                <span class="badge bg-light text-dark text-capitalize"><%= blog.category.name %></span>
            </div>
            <h1 class="display-4 fw-bold text-capitalize"><%= blog.title %></h1>
            <p class="lead"><%= blog.snippet %></p>
        </div>
    </header>

    <main class="container">
        <article class="blog-content">
            <img src="/image/<%= blog.thumbnail?.hash %>" alt="Online Learning" class="blog-image">
            <div class="author-info">
                <img src="<%= blog.author.avatarUrl %>" alt="Author Avatar" class="author-avatar">
                <div>
                    <h6 class="mb-0"><%= blog.author.name %></h6>
                    <small class="text-muted">Published on <%= blog.createdAt.toUTCString() %> • <%= blog.readTime %> min read</small>
                </div>
            </div>
            <div class="blog-text">
                <%- blog.body %>
            </div>
            <div class="mt-4">
                <h5>Tags:</h5>
                <div class="d-flex flex-wrap gap-2">
                    <% if(blog.tags.length > 0) { %>
                        <% blog.tags.map(tag => { %>
                            <span class="badge bg-primary"><%= tag %></span>
                        <% }) %>
                    <% } %>
                </div>
            </div>
        </article>

        <section class="my-5">
            <h2 class="mb-4">Related Blogs</h2>
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
                <% if(relatedBlogs.length > 0) {%>
                    <% relatedBlogs.map(anotherBlog => { %>
                        <% if(anotherBlog._id.toString() !== blog._id.toString() ) { %>
                            <div class="col">
                                <div class="card h-100">
                                    <img src="/image/<%= anotherBlog.thumbnail?.hash %>" class="card-img-top" alt="Blog post thumbnail">
                                    <!-- blog used below intentionally. b/c I am not getting category from relatedBlog -->
                                    <span class="category-badge capitalize"><%= blog.category.name %></span> 
                                    <div class="card-body">
                                        <h5 class="card-title capitalize clamp-text"><%= anotherBlog.title %></h5>
                                        <p class="card-text clamp-text-4"><%= anotherBlog.snippet %></p>
                                    </div>
                                    <div class="card-footer bg-transparent border-top-0">
                                        <div class="d-flex flex-wrap gap-2 justify-content-between align-items-center">
                                            <small class="text-muted flex-grow-1"><%= anotherBlog.createdAt?.toDateString() %> • <%= anotherBlog.readTime %> min read</small>
                                            <a href="/blog/<%= anotherBlog.slug %>" class="btn btn-outline-primary btn-sm">Read More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                    <% }) %>
                <% } else { %>
                    <i> No related blogs yet.</i>
                <% } %>
            </div>
        </section>
    </main>

    <%- include('../partials/footer')  %> 

    <script>
        // fallback for compatiblity with older browsers
        document.querySelectorAll('p').forEach(function(p) {
            if (p.querySelector('img')) {
                p.classList.toggle('p-with-img', true);
            }
        });
    </script>
</body>
</html>