

<!DOCTYPE html>
<html lang="en">
  <head>
   
</head>
<body>
    <div class="blogs content">
        <h2>Blog collections</h2>

          <% if (data.length > 0) { %>
            <% data.forEach(blog => { %>
              <a class="single" href="/blogs/<%= blog._id %>">
                  <h3 class="title"><%= blog.title %></h3>
                  <p class="snippet"><%= blog.snippet %></p>
                  <code>by @ <%= blog.author %> </code>
              </a>
            <% }) %>
          <% } else { %>
            <p>There are no blogs to display...</p>
          <% } %>

      </div>

</body>
</html>

<!-- detail -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head')  %> 
       
    </head>
<body>
    <%- include('../partials/nav')  %> 
    <main class="details">
        <div class="heading">
            <div>
                <h2><%= blog.title %></h2>
                <code>writen by @<%= blog.author %> at <%= `${(blog.createdAt)}`.slice(8,15) %> </code>
            </div>
            <div>
                <button class="edit-btn" data-id="<%= blog._id %>">edit</button>
                <button class="dlt-btn" data-id="<%= blog._id %>">delete</button>
            </div>
        </div>
        <p><%= blog.body %></p>

    </main>

    <%- include('../partials/footer')  %> 
    <script>
        const dltBtn = document.querySelector(".dlt-btn")
        const editBtn = document.querySelector(".edit-btn")

        dltBtn.addEventListener('click',  (e) => {
            const endpoint = `/blogs/${dltBtn.dataset.id}`

            fetch(endpoint, { method: 'DELETE'})
            .then( res => res.json())
            .then(data => window.location.href = data.redirect )
            .catch(err =>console.log(err))
        })

        editBtn.addEventListener('click', (e) => {
            const endpoint = `/blogs/${editBtn.dataset.id}`

            fetch(endpoint, { method : 'PUT' })
        })
    </script>
</body>
</html>
